<div class="container" style="margin-top: 70px;">
  <div>
    <a class="btn btn-primary" href="#" role="button" (click)="openModal($event, 'Hello Modal', 'Modal content goes here')">Open Modal</a>
  </div>
  <div class="row">
    <div>{{message1}}</div>  
    <div #message2></div>
  </div>
  <div class="row">
    <div class="col-sm" style="background-color:bisque;">
      <app-kendo-date-picker [parametre]="myDate1"></app-kendo-date-picker>
    </div>
    <div class="col-sm" style="background-color:aquamarine;">
      <app-kendo-date-picker [parametre]="myDate2"></app-kendo-date-picker>
    </div>    
  </div>
  <div class="row">
    <div class="col-sm" style="background-color:darkorange">
      <app-kendo-date-picker [parametre]="myDate3"></app-kendo-date-picker>
    </div>
    <div class="col-sm" style="background-color:dodgerblue">
      <app-kendo-date-picker [parametre]="myDate4"></app-kendo-date-picker>
    </div>    
  </div>  
  <app-log-trace></app-log-trace>
</div>
