<div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" [innerHTML]="modalTitle"></h5>
        <a type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close($event)"></a>
      </div>
      <div class="modal-body" [innerHTML]="modalText"></div>
      <div class="modal-footer">
        <a type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="close($event)">Close</a>
      </div>
    </div>
  </div>
</div>